.sign_in_background{
	background-color: rgba(5, 5, 5, 0.87);
	border-radius: 8px;
	color: #fff;
	font-weight: 300;
	max-width: 650px;
	padding: 2px 30px 30px 30px;
	margin: 86px auto 0 auto;
	height: 390px;
	position: relative;
	border: rgba(31, 54, 52, 0.64) solid 1px;
	background-image:url(images/bg1.png);
}
.bg{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(39, 38, 37, 0.78);
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	
}

.sign_up_background{
	background-color: rgba(5, 5, 5, 0.87);
	border-radius: 8px;
	color: #fff;
	font-weight: 300;
	max-width: 650px;
	padding: 2px 30px 30px 30px;
	margin: 50px auto 0 auto;
	height:580px;
	position:relative;
	border: rgba(31, 54, 52, 0.64) solid 1px;
	background-image:url(images/bg1.png);
}

.row{
	margin-right: -15px;
	margin-left: -15px;
	
}
.heading_background{
	width:100%;
}

	
.heading {
		font-weight: 300;
		font-size: 36px;
		line-height: normal;
		margin-top: 30px;
		text-align: center;
}

.sign_in-direct{
	border-right: 1px solid rgba(200, 200, 200, 0.5);
	float:left;
	width:50%;
}
.inputs{
	
	position:relative;
	margin-top:25px;
}


.username{
	background-color: rgba(83, 78, 78, 0.35);
	border: 1px solid rgba(255, 255, 255, 0.27);
	color: rgb(255,255,255);
	display: block;
	width: 80%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	padding-left:30px;
	
}
.username_up{
	background-color: rgba(83, 78, 78, 0.35);
	border: 1px solid rgba(255, 255, 255, 0.27);
	color: rgb(255,255,255);
	display: block;
	width: 75%;
	height: 45px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	padding-left:30px;
	
}	

.focus{
	border-color: #66afe9;
outline: 0;

box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}		
.username_img_up{
	position:absolute;
	font-family:FontAwesome;
	font-style:normal;
	top:14px;
	left:10px;
	}
.username_img{
	position:absolute;
	font-family:FontAwesome;
	font-style:normal;
	top:10px;
	left:10px;
	}
.username_img_u:before{
		content: "\f007";
		
}

.username_img_p:before{
		content: "\f023";
		
}
.username_img_g:before{
		content: "\f1ae";
		
}
.username_img_e:before{
	content:"\f003";
}
.remember:hover{
	cursor:pointer;
}
.submit-btn:hover{background-color: #eb9316;
background-position: 0 -15px;
}
.submit-btn{
	-webkit-appearance: button;
	cursor: pointer;
	width:80%;
	background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
	background-repeat: repeat-x;
	border-color: #e38d13;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	color:#fff;
}
.up{
	width:75%;
	font-size:20px;
}
.forgot_password{
	color: #DBDBDB;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	cursor:pointer;
}

.forgot_password:hover{
	text-decoration:underline;
}
.sign_in_indirect{
	float:left;
	position:relative;
	min-height: 1px;
	width:290px;
	padding-left: 15px;
	margin-top:40px;
}
.btn{
	display: block;
	margin-top: 15px;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	height: 26px;
	text-align: center;
	padding-top: 8px;
	font-size: 19px;
	position:relative;
	cursor:pointer;
	width:90%;
}
.facebook{
	background-color: #3b5998;
	border-color: rgba(0,0,0,0.2);
}
.img{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 38px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
	font-family: FontAwesome;
	font-style: normal;
}
.twitter{
	background-color: #55acee;
	border-color: rgba(0,0,0,0.2);
}
.facebook:hover{background-color: #2d4373;
border-color: rgba(0,0,0,0.2);}
.twitter:hover{
	background-color: #2795e9;
border-color: rgba(0,0,0,0.2);
}
.google:hover{background-color: #c23321;
border-color: rgba(0,0,0,0.2);
}
.google{
	background-color: #dd4b39;
	border-color: rgba(0,0,0,0.2);
}
.fb:before{
	content:"\f09a";
}
.tw:before{
	content:"\f099";
}
.gw:before{
	content:"\f0d5";
}

.services{
	color: rgba(212, 172, 172, 0.94);
	font-size: 24px;
}
.close{
	
top: 5px;
position: absolute;
right: 10px;
color:rgba(243, 24, 24, 0.79);
font-style:normal;
font-family:FontAwesome;
}
.close:before{
	content:"\f00d";
}
.close:hover{
	color:#fff;
	cursor:pointer;
}
