.headlines{
	font-size: 29px;
	margin-left: 55px;
	font-weight: bold;
	color: rgba(43, 45, 47, 0.78);
}
.headlines_back{
	border-bottom: rgba(100, 114, 114, 0.35) solid 1px;
	padding-bottom: 5px;
	margin-right: 18px;
	margin-left: 14px;
}

.news_section{
	height: 365px;
border-bottom: rgba(114, 127, 127, 0.55) solid 1px;
}


.gsc-result{
	margin-bottom:20px;
}
.gs-title{
	overflow:visible !important;
	margin-bottom:20px !important;
	text-decoration:none !important;
	font-weight:bold !important;
	color: rgba(248, 65, 19, 1) !important;
	font-size:16px !important;
}

.gs-snippet ,.gs-clusterUrl,.gsc-cursor-box{
	visibility:hidden;
}
.gs-snippet{
	height:0px !important;
}

.head-cat{
	font-weight: bold;
font-size: 19px;
text-transform: capitalize;
color: rgba(105, 13, 13, 0.71);
}
.head-cat-back{
	text-align: center;
}

