.notif{
	margin-bottom: 22px;
	margin-top: 10px;
	border-bottom: rgba(122, 124, 118, 0.48) solid 1px;
	padding-left: 27px;
	padding-bottom: 5px;
}

.notif_name{
	font-weight: bold;
font-size: 19px;
font-style: oblique;
text-transform: capitalize;
color: rgba(47, 45, 41, 0.86);
}

.panel{
	text-transform: lowercase;
font-weight: initial;
color: rgba(13, 13, 13, 0.82);
margin-left: 6px;
}

.notif_ques{
	padding-left: 24px;

color: rgba(19, 20, 18, 0.67);
font-size: 18px;
}

.date_notif{
	float: right;
font-size: 12px;
color: rgba(22, 22, 22, 0.62);
}

.notif_head{
	border-bottom: rgba(61, 57, 57, 0.17) solid 1px;

margin-top: -14px;
}
.head_txt{
	margin-left: 193px;
color: rgba(20, 20, 20, 0.68);
}
